<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card text-center mb-3">
      <img src="<%= campground.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">$<%= campground.price %>/night</li>
      </ul>
      <% if (currentUser && campground.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a
          href="/campgrounds/<%= campground._id %>/edit"
          class="card-link btn btn-outline-secondary"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-outline-dark">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">
        Submitted by <%= campground.author.username %> 2 days ago
      </div>
    </div>
  </div>
  <div class="col-6">
    <h2>Leave a Review</h2>
    <form
      class="mb-3 needs-validation"
      action="/campgrounds/<%= campground._id %>/reviews"
      method="POST"
      novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div>
      <div class="mb-3 form-floating">
        <textarea
          class="form-control"
          id="body"
          name="review[body]"
          placeholder="Review"
          style="height: 100px"
          required
        ></textarea>
        <label class="form-label" for="body">Review</label>
      </div>
      <div class="text-center">
        <button class="btn text-white" style="background-color: #3d0a91">
          Submit
        </button>
      </div>
    </form>
    <% for (let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-header">Rating: <%= review.rating %></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Review: <%= review.body %></li>
        <li class="list-group-item text-center">
          <form
            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-outline-danger btn-sm">Delete</button>
          </form>
        </li>
      </ul>
    </div>
    <% } %>
  </div>
</div>
