<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<div class="my-3 text-center">
  <h1><%= nationalPark.title %></h1>
  <h4 class="text-muted"><%= nationalPark.state %></h4>
  <h5 class="text-muted">
    $<%= nationalPark.price %> <%= nationalPark.pricePer %>
  </h5>
  <p class="lead"><%= nationalPark.description %></p>
  <div class="d-flex justify-content-center">
    <a
      class="btn btn-outline-primary"
      href="/nationalParks/<%= nationalPark._id %>/hikes/new"
      >Add a Hike</a
    >
  </div>
</div>
<% for (let hike of nationalPark.hikes) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if (hike.images.length) { %>
      <img
        crossorigin="anonymous"
        class="img-fluid"
        src="<%= hike.images[0].url %>"
        alt=""
      />
      <% } else { %>
      <img
        class="img-fluid"
        crossorigin="anonymous"
        src="https://res.cloudinary.com/dy4jgwfkr/image/upload/v1711320871/YelpCamp/spkn4uiva5vczxkrb6ae.png"
        alt=""
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= hike.title %></h5>
        <p class="card-text"><%= hike.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= nationalPark.title %></small>
        </p>
        <a
          class="btn btn-outline-secondary"
          href="/nationalParks/<%= nationalPark._id %>/hikes/<%= hike._id %>"
        >
          View <%= hike.title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class="d-flex justify-content-center gap-3 my-3">
  <a href="/nationalParks/" class="btn btn-outline-primary"
    >Back to All National Parks</a
  >
  <% if (currentUser && nationalPark.author.equals(currentUser._id)) { %>
  <a
    href="/nationalParks/<%= nationalPark._id %>/edit"
    class="btn btn-outline-secondary"
    >Edit</a
  >
  <form
    class="d-inline"
    action="/nationalParks/<%= nationalPark._id %>?_method=DELETE"
    method="POST"
  >
    <button class="btn btn-outline-dark">Delete</button>
  </form>
  <% } %>
</div>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const hikes = {features: <%- JSON.stringify(nationalPark.hikes) %>}
  const nationalPark = <%- JSON.stringify(nationalPark.geometry.coordinates) %>
</script>
<script src="/javascript/showPageMap.js"></script>
